[submodule "config"]
	path = config
	url = https://github.com/Likelion-Avengers/Backend-Security.git
[submodule "module"]
	path = module
	url = https://github.com/Likelion-Avengers/Backend-Security.git
